.slot {
    margin: 50px;
    padding: 10px;
    width: 25%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: rgba(212, 230, 241, 0.3);
}

.slot h3 {
    margin: 0;
 }

.slot p {
   width: 70%;
   text-align: center;
   margin: 0;
}

.slot-img {
    height: 35px;
}