.slot {
    margin: 10px 10px;
    padding: 10px 10px;
    width: 25%;
    min-width: 235px;
    height: 22vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: rgba(212, 230, 241, 0.15);
    color: #143951;
    transition: .3s ease;
}

.slot:hover {
    transform: scale(1.2);
    background: rgba(212, 230, 241, 0.3);
}

.slot h3 {
    margin: 0;
    font-family: 'VT323', monospace;
    font-size: 1.8em;
 }

.slot p {
   width: 70%;
   text-align: center;
   margin: 0;
}

.slot-img {
    height: 35px;
}