.navbar{
    height: 70px;
    width: 100%;
    position: relative;
    background-color: #1A5276;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    height: 55px;
    position: absolute;
    left: 100px;
}

.nav-container {
    display: flex;
    margin-right: 100px;
}

.nav-link {
    font-size: 1.4em;
    color: #D4E6F1;
    padding: 20px;
    text-decoration: none;
}