.footer {
    height: 25px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #1A5276;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D4E6F1;
    font-family: 'VT323', monospace;
}

.gate {
    height: 15px;
    padding: 8px;
}
